{% extends "page.html" %}
{% import "projects/preview.html" as project_preview with context %}
{% block head %}
	{{ super() }}
	<title>Projects | Blorptopia</title>
	<link rel="stylesheet" href="./index.css">
	<script src="./index.ts" type="module" defer></script>
	{{ project_preview.imports() }}
{% endblock %}
{% block page_content %}
	<h1>Projects</h1>
	<details>
		<summary>What is included here</summary>
		<p>
			As of now this only includes a small selection of my newer projects. I intend to add more here, but this will take quite a bit of time.
		</p>
	</details>
	<div id="projects">
		{% for project_slug, project_metadata in per_project_metadata.items() | sort(attribute="1.created_at", reverse=True) %}
			{% set project_creation_year = project_metadata.created_at.split("-")[0] %}
			{% if loop.previtem is defined %}
				{% set prev_project_creation_year = loop.previtem[1].created_at.split("-")[0] %}
				{% if project_creation_year != prev_project_creation_year %}
					<h2 class="year-heading">{{ project_creation_year }}</h2>
				{% endif %}
			{% else %}
				<h2 class="year-heading">{{ project_creation_year }}</h2>
			{% endif %}
			{{ project_preview.preview(project_slug) }}
		{% endfor %}
	</div>
{% endblock %}
